*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    display: flex;
    margin-top: 180px;
    height: 70vh;
}

.centerBlock{
    position: relative;
    width: 100%;
}

.centerBlockImg > img{
    height: 100%;
    object-fit: cover;
}

.arrow{
    align-self: center;
    font-size: 50px;
    text-align: center;
    width: 50%;
}

.imgWrapper{
    height: 100%;
}

.imgWrapper > img{
    height: 100%;
    object-fit: cover;
}





